// fp-section
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: 0 auto;
  margin-right: auto;
}


// best-section
.best-section {
    display: block;
    background: #eee;
    color: #000;
    margin: 130px 0;
    padding: 0 16px;

    .swiper {
      width: 100%;
      height: 383px;
    }
    .swiper-slide {
      text-align: left;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.prtbox {
  .info {
    padding: 15px 0;
    .name {
      font-size: 16px;
      color: #666666;
    }
    .price {
      font-size: 20px;
    }
    .sale {
      font-size: 20px;
      color: #ff0000;
    }
    .cost {
      font-size: 16px;
      color: #cacaca;
    }
  }
}


// video
.video_wrap {
  clip-path:  inset(0%);
  pointer-events: none;
  position: relative;
	height: 0;
	padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}