// fp-section
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  position: relative;
  img {
    filter: brightness(80%);
    width: 100%;
  }
}

.swiper {
  margin-left: 0 auto;
  margin-right: auto;
}

// ★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★
.text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.logo-hd {
  width: 181px;
  height: 86px;
}

.logo-hd::after {
  content: "";
  display: block;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url(/images/common/logo_wt.png);
  background-repeat: no-repeat;
}
.cross {
  width: 35px;
  height: 35px;
  margin-top: 10px;
  .bar {
    display: block;
    margin-bottom: 7px;
    width: 45px;
    height: 1px;
    border-radius: 1px;
    background-color: white;
    &:nth-child(1) {
    transform:  translateY(5px) rotate(45deg);
    }
    &:nth-child(2) {
    transform: translateY(-3px) rotate(-45deg);
    }
  }
}
.logo-ph {
  width: 268px;
  height: 60px;
}
.logo-ph::after {
  content: "";
  display: block;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url(/images/common/logo_pierreherme_wt.png);
  background-repeat: no-repeat;
}





.swiper-button-next, .swiper-button-prev {
  color: #eee;
  font-weight: light;
}


// best-section
.best-section {
    display: block;
    color: #000;
    margin: 130px 0;
    padding: 0 16px;
    .swiper {
      width: 100%;
      height: 383px;
    }
    .swiper-scrollbar-horizontal {
      height: 2px;
      background: #f1f1f1;
    }
    .swiper-scrollbar-drag {
      background: #333;
    }
}

.pdtBox {
  width: 264px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
   .thumb {
    width: 100%;
    height: 244px;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
   }
  .info {
    width: 100%;
    padding: 15px 0;
    margin-top: -35px;
    .name {
      font-size: 16px;
      font-weight: 400;
      color: #666666;
    }
    .priceBox {
      display: block;
      .price {
        font-weight: 600;
        font-size: 20px;
        padding-right: 2px;
      }
      .sale {
        font-size: 20px;
        font-weight: 100;
        color: #ff0000;
        padding-right: 2px;
      }
      .cost {
        font-size: 16px;
        font-weight: 400;
        color: #cacaca;
        padding-right: 2px;
        text-decoration: line-through
      }
    }
  }
}



// video
.video_wrap {
  clip-path:  inset(0%);
  pointer-events: none;
  position: relative;
	height: 0;
	padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}