@charset "UTF-8";
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  letter-spacing: -2%;
  src: url(../fonts/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  letter-spacing: 0;
  src: url(../fonts/Pretendard-Light.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  letter-spacing: -2%;
  src: url(../fonts/Pretendard-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  letter-spacing: -2%;
  src: url(../fonts/Pretendard-Medium.woff) format("woff");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  letter-spacing: -2%;
  src: url(../fonts/Pretendard-Bold.woff) format("woff");
}
/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
button,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

fieldset,
img {
  border: 0 none;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

input,
select,
textarea {
  font-size: 100%;
  vertical-align: middle;
}

button {
  font-size: 100%;
  vertical-align: middle;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* 뷰표트 변환시 폰트크기 자동확대 방지 */
input[type=text], input[type=password], input[type=submit], input[type=search] {
  -webkit-appearance: none;
  border-radius: 0;
}
input:checked[type=checkbox] {
  background-color: #666;
  -webkit-appearance: checkbox;
}

button {
  -webkit-appearance: button;
  border-radius: 0;
}

input[type=button], input[type=submit], input[type=reset], input[type=file] {
  -webkit-appearance: button;
  border-radius: 0;
}
input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* 기본 폰트 설정 */
/* mobile */
body {
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Pretendard", "Malgun Gothic", "맑은 고딕", sans-serif;
  color: black;
}

/* desktop */
@media screen and (min-width: 1280px) {
  body {
    font-size: 16px;
  }
}
/* color값은 디자인가이드에 맞게사용 */
a {
  text-decoration: none;
  color: black;
}
a:active, a:hover {
  text-decoration: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

hr {
  display: none;
}

input[type=password] {
  font-family: "Malgun Gothic";
}

/* 웹폰트 사용시 점이 안보임 - 기본 폰트 사용  */
/* skipnavigation */
#u-skip {
  position: relative;
  z-index: 3000;
}
#u-skip a {
  position: absolute;
  top: -35px;
  left: 0;
  right: 0;
  display: inline-block;
  padding: 7px 10px 5px;
  background: #333;
  color: #fff;
  text-decoration: none;
  text-align: center;
  opacity: 0;
}
#u-skip a:focus {
  top: 0;
  opacity: 1;
  z-index: 1000;
}

/* 이미지 스프라이트 */
.img-g {
  display: inline-block;
  overflow: hidden;
  background: url(../../images/comm/img-comm.png) no-repeat;
  vertical-align: top;
}

/* 이미지 */
/* global */
.ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0px;
  line-height: 0;
  text-indent: -9999px;
}

/* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir-wa {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: -10;
  width: 100%;
  height: 100%;
}

/* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.blind,
caption,
legend {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

/* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.f_l {
  float: left;
}

.f_r {
  float: right;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.tbl {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 테이블 초기화 */
.clearfix {
  display: block;
  overflow: visible;
  width: auto;
  clear: both;
  zoom: 1;
}
.clearfix:after {
  display: block;
  visibility: hidden;
  height: 0;
  font-size: 0;
  clear: both;
  content: "";
}

.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 420px) {
  .wrap {
    max-width: 100%;
  }
}
.header-fix {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#main {
  flex-grow: 1;
}

#footer {
  background-color: #000;
  color: #fff;
}

#header {
  position: absolute;
  width: 100%;
  height: 62px;
  background-color: transparent;
  z-index: 10000;
}

.header-fix {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 0 var(--layout-padding);
  height: 62px;
  margin: 0;
  transition: all 0.3s;
}
.header-fix #logo {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}
.header-fix #logo a {
  display: inline-block;
  width: 125px;
  height: 100%;
  background: url(/images/common/logo_wt_letter.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-search {
  position: relative;
  width: 20px;
  height: 20px;
  transform: translate(-16px, 20px);
}

.btn-search::after {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(/images/common/icon_search_wt.png);
  transition: all 0.3s;
}

.gnb-wrap .inp-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
.gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(2) {
  display: none;
}
.gnb-wrap .inp-burger:checked + .label-burger .bar:nth-child(3) {
  transform: translateY(-3px) rotate(-45deg);
}
.gnb-wrap .inp-burger:checked ~ #gnb {
  display: flex;
  right: 0;
}
.gnb-wrap .label-burger {
  position: absolute;
  left: 16px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.gnb-wrap .label-burger .bar {
  display: block;
  margin-bottom: 7px;
  width: 20px;
  height: 1px;
  border-radius: 1px;
  background: white;
  transition: all 0.3s;
}
.gnb-wrap #gnb {
  position: absolute;
  width: 200px;
  height: 200px;
  background: black;
  transform-origin: 0 0;
  transform: translate(-100% 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.gnb-wrap #gnb #gnb {
  display: flex;
  width: 100%;
  height: 100vh;
  background: gray;
  position: absolute;
  left: -100vw;
  top: 0;
  transition: all 0.5s;
}
.gnb-wrap #gnb .gnb-inner {
  width: 100%;
}
.gnb-wrap #gnb .accordion ul > li {
  overflow: hidden;
  max-height: 40px;
  margin: 30px 0;
}
.gnb-wrap #gnb .accordion ul > li.on {
  max-height: 600px;
  transition: all 0.5s ease-in-out;
}
.gnb-wrap #gnb .accordion ul > li.on img {
  rotate: -180deg;
}
.gnb-wrap #gnb .accordion ul > li .title {
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gnb-wrap #gnb .accordion ul > li .title img {
  width: 16px;
}
.gnb-wrap #gnb .accordion ul > li .desc {
  display: block;
  padding: 16px;
  font-size: 16px;
}

.inp-burger {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  opacity: 0;
  visibility: hidden;
}
.inp-burger:checked + .label-burger .bar {
  background: black;
}
.inp-burger:checked + .label-burger .bar:nth-child(2) {
  transform: rotate(45deg);
}
.inp-burger:checked + .label-burger .bar:nth-child(3) {
  display: none;
}
.inp-burger:checked + .label-burger .bar:nth-child(4) {
  transform: rotate(-45deg) translateY(-1px);
}
.inp-burger:checked #gnb input:checked ~ ul {
  transform: none;
}
.inp-burger:checked #gnb input:checked ~ ul ~ #gnb {
  left: 0;
}
.inp-burger .label-burger {
  position: absolute;
  left: 16px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
}
.inp-burger .label-burger .bar {
  display: block;
  width: 20px;
  height: 1px;
  border-radius: 1px;
  background: white;
  transition: all 0.5s;
}
.inp-burger .label-burger span:nth-child(3) {
  margin: 5px 0;
}

#header.sticky .header-fix {
  position: fixed;
  top: 0;
  height: 62px;
  background: #fff;
  transition: all 0.3s;
}
#header.sticky .header-fix #logo a {
  display: inline-block;
  background: url(/images/common/logo_bgd_letter.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#header.sticky .header-fix .btn-search {
  width: 20px;
  height: 20px;
  transform: translate(-16px, 20px);
}
#header.sticky .header-fix .btn-search::after {
  background-image: url(/images/common/icon_search_bk.png);
}
#header.sticky .header-fix .label-burger .bar {
  background: black;
}

#footer {
  padding: 35px 21px;
}
#footer .logo {
  display: block;
  width: 181px;
  height: 86px;
}
#footer .logo img {
  width: 100%;
}
#footer .lang {
  display: flex;
  width: 100%;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 40px;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 55px 0;
}
#footer .lang span {
  font-size: 16px;
}
#footer .separator {
  border: 0;
  border-top: 1px solid #9b9b9b;
  margin: 0;
}

#footer a {
  color: white;
}
#footer .accordion ul > li {
  overflow: hidden;
  max-height: 40px;
  margin: 30px 0;
}
#footer .accordion ul > li.on {
  max-height: 600px;
  transition: all 0.5s ease-in-out;
}
#footer .accordion ul > li.on img {
  rotate: -180deg;
}
#footer .accordion ul > li .title {
  height: 40px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .accordion ul > li .title img {
  width: 16px;
}
#footer .accordion ul > li .desc {
  display: block;
  padding: 16px;
  font-size: 16px;
}

.ft-inner {
  margin: 33px 26px;
}

.ft-sns {
  margin: 30px 0;
  display: flex;
  gap: 20px;
}
.ft-sns .cir {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ft-sns a {
  text-indent: -9999px;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
}
.ft-sns .ytb {
  background-image: url(/images/common/icon_youtube.png);
}
.ft-sns .fb {
  background-image: url(/images/common/icon_facebook.png);
}
.ft-sns .ins {
  background-image: url(/images/common/icon_instagram.png);
}

.copyright {
  font-size: 12px;
}

.slide-section {
  margin: 0 auto;
}

@media screen and (min-width: 1280px) {
  .intro-section {
    max-width: none;
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  position: relative;
}
.swiper-slide img {
  filter: brightness(80%);
  width: 100%;
}

.text-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px;
}

.logo-hd {
  width: 181px;
  height: 86px;
}

.logo-hd::after {
  content: "";
  display: block;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url(/images/common/logo_wt.png);
  background-repeat: no-repeat;
}

.cross {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}
.cross .bar {
  display: block;
  margin-bottom: 7px;
  width: 45px;
  height: 1px;
  border-radius: 1px;
  background-color: white;
}
.cross .bar:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}
.cross .bar:nth-child(2) {
  transform: translateY(-3px) rotate(-45deg);
}

.logo-ph {
  width: 268px;
  height: 60px;
}

.logo-ph::after {
  content: "";
  display: block;
  background-size: contain;
  width: 100%;
  height: 100%;
  background-image: url(/images/common/logo_pierreherme_wt.png);
  background-repeat: no-repeat;
}

.swiper-button-next,
.swiper-button-prev {
  color: #eee;
  font-weight: light;
}

.best-section {
  display: block;
  color: #000;
  margin: 130px 0;
  padding: 0 16px;
}
.best-section .swiper {
  width: 100%;
  height: 383px;
}
.best-section .swiper-scrollbar-horizontal {
  height: 2px;
  background: #f1f1f1;
}
.best-section .swiper-scrollbar-drag {
  background: #333;
}

.pdtBox {
  width: 264px;
  text-align: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.pdtBox .thumb {
  width: 100%;
  height: 244px;
}
.pdtBox .thumb img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pdtBox .info {
  width: 100%;
  padding: 15px 0;
  margin-top: -35px;
}
.pdtBox .info .name {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}
.pdtBox .info .priceBox {
  display: block;
}
.pdtBox .info .priceBox .price {
  font-weight: 600;
  font-size: 20px;
  padding-right: 2px;
}
.pdtBox .info .priceBox .sale {
  font-size: 20px;
  font-weight: 100;
  color: #ff0000;
  padding-right: 2px;
}
.pdtBox .info .priceBox .cost {
  font-size: 16px;
  font-weight: 400;
  color: #cacaca;
  padding-right: 2px;
  text-decoration: line-through;
}

.ytb_wrap {
  -webkit-clip-path: inset(20%);
          clip-path: inset(20%);
  pointer-events: none;
  position: relative;
  width: 100vw;
  height: 100%;
  padding-bottom: 56.25%;
  top: 0;
  left: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 56.25%;
}
.ytb_wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fp-wrap {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.fp-wrap .ele {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transform: translateZ(0);
}
.fp-wrap .imgBox.brand {
  position: relative;
  background: url("/images/main/m/m_fp1_brand.jpg") no-repeat center center;
  background-size: cover;
}
.fp-wrap .imgBox.quality {
  position: relative;
  background: url("/images/main/m/m_fp2_quality.jpg") no-repeat center center;
  background-size: cover;
}
.fp-wrap .imgBox.contact {
  position: relative;
  background: url("/images/main/m/m_fp3_contact.jpg") no-repeat center center;
  background-size: cover;
}
.fp-wrap .imgBox::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.3;
}
.fp-wrap .imgBox.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0.3;
}
.fp-wrap .textBox {
  position: absolute;
  top: 40%;
  left: 10%;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #fff;
}
.fp-wrap .textBox p {
  font-size: 56px;
}
.fp-wrap .textBox span {
  font-size: 16px;
}
.fp-wrap .textBox.contact p,
.fp-wrap .textBox.contact span {
  color: #000;
}/*# sourceMappingURL=comm.css.map */